.illustrations {
  position             : absolute;
  left                 : 5%;
  width                : 33.3%;
  height               : 100%;
  bottom               : 0;
  background-image     : url( '../dom/characters/captain.png' );
  background-size      : 300% 100%;
  background-position-x: 50%;
}