/* v0.1.0 */
.lightbox {
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color: rgba( 0, 0, 0, 0.9 );
  color           : white;
  box-sizing      : border-box;
  opacity         : 0;
  -webkit-transition: opacity 1.0s linear;
     -moz-transition: opacity 1.0s linear;
       -o-transition: opacity 1.0s linear;
          transition: opacity 1.0s linear;
}
.lightbox.fadeIn {
  opacity         : 1;
}

.lightbox .content {
  position        : absolute;
  left            : 5%;
  right           : 5%;
  top             : 5%;
  bottom          : 5%;
  background-color: black;
  box-sizing      : border-box;
}

.lightbox .lightboxClose {
  position        : absolute;
  right           : 10px;
  top             : 10px;
  width           : 50px;
  height          : 50px;
  border-radius   : 25px;
  background-color: rgb(60, 60, 60);
  text-align      : center;
  padding         : 4px;
  font-size       : 240%;
  box-sizing      : border-box;
  cursor          : pointer;
}

@media screen and (max-width: 640px) and (max-height: 480px) {
  .lightbox .content {
    left            : 0;
    right           : 0;
    top             : 0;
    bottom          : 0;
  }
}