@-moz-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {  
 0% { opacity: 1.0; }
 50% { opacity: 0.0; }
 100% { opacity: 1.0; }
}

.messageBox {
  position                  : absolute;
  left                      : 10px;
  right                     : 10px;
  bottom                    : 10px;
  background                : rgba(44, 44, 44, 0.97);
  padding                   : 10px 5px;
  min-height                : 70px;
  padding-left              : 30px;
  padding-right             : 30px;
  color                     : white;
  font-family               : 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-bottom            : 20px;
  z-index                   : 2;
  border-top-right-radius   : 25px 20px;
  border-top-left-radius    : 25px 20px;
  border-bottom-left-radius : 25px 20px;
  border-bottom-right-radius: 25px 20px;
  border                    : 1px solid rgb(14, 14, 14);
}
.messageBox .close {
  position   : absolute;
  right      : 15px;
  bottom     : 7px;
  cursor     : pointer;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.messageBox .close:hover {
  opacity: 0.7;
}

.messageBox .content {
  display     : block;
  min-height  : 70px;
  line-height : 35px;
  font-size   : 20px;
}
.messageBox .content span {
  position: absolute;
  opacity: 0.5;
  white-space: nowrap;
}

@media screen and (max-width: 900px) {
  .messageBox {
    padding : 10px;
    min-height : 60px;
    padding-left: 90px;
    padding-right: 100px;
  }
  .messageBox .close {
    top    : 5px;
    margin : 0;
    width  : 70px;
    height : 70px;
  }
  .messageBox .illustration {
    width: 80px;
    height: 80px;
  }
  .messageBox .content {
    min-height: 60px;
    line-height: 30px;
    font-size: 18px;
  }
}
