/* v0.1.0 */
/* Popup */
  .popup {
    width : auto;
    height: auto;
    left  : 0;
    right : 0;
    bottom: 0;
    top   : 0;
    box-sizing       : border-box;
    position         : absolute;
    padding          : 10px 20px;
    padding-bottom   : 50px;
    background       : none;
    background-image : url( 'dom/popup.png' );
    background-repeat: no-repeat;
    background-size  : 100% 100%;
    -webkit-animation : popup 0.2s;
       -moz-animation : popup 0.2s;
            animation : popup 0.2s;
    overflow: auto;
  }
  @-webkit-keyframes popup
  {
    from {-webkit-transform: scale(0);}
    to {-webkit-transform: scale(1);}
  }
  @keyframes popup
  {
    from {transform: scale(0);}
    to {transform: scale(1);}
  }
  @-moz-keyframes popup
  {
    from {-moz-transform: scale(0);}
    to {-moz-transform: scale(1);}
  }

  .buttonsPrompt, .buttonsDefault {
    position  : absolute;
    bottom    : 15px;
    left      : 0;
    right     : 0;
    text-align: center;
  }
  .popup button {
    border          : none;
    padding         : 10px 40px;
    background      : none;
    background-image : url( 'dom/button.png' );
    background-repeat: no-repeat;
    background-size  : 300% 100%;
    background-position: 0 0;
    font-family: 'terminator_real_nfiregular';
  }
  .popup button:hover {
    background-position: 50% 0;
  }
  .popup button:active {
    background-position: 100% 0;
  }
  .popup .buttonsCustom {
    text-align: center;
  }
  .popup .buttonsCustom button {
    margin: 0 14%;
  }
  .popup h1, .popup h2, .popup h3, .popup h4, .popup h5 {
    text-align  : center;
    font-family : 'terminator_real_nfiregular';
    margin-top  : 0;
  }

@media screen and (min-width: 550px) and (min-height: 350px) {
  .popup {
    top          : 50%;
    left         : 50%;
    right        : auto;
    bottom       : auto;
    width        : 540px;
    height       : 310px;
    margin-left  : -270px;
    margin-top   : -150px;
  }
  .popup button {
    padding : 10px 30px;
  }
}

@media screen and (max-width: 550px) and (min-height: 440px) {
  .popup {
    top       : 50%;
    bottom    : auto;
    height    : 400px;
    margin-top: -200px;
  }
}