body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: black !important;
  margin          : 0 !important;
  padding         : 0 !important;
  color           : white;
  overflow        : hidden !important;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button {
  cursor: pointer;
  -ms-touch-action: none;
  touch-action: none;
}
#NebulaClient, #NebulaVignet, #notifsContainer, #popupsContainer {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#render {
  position        : relative;
  /*font-family   : 'custom_font';*/
  -ms-touch-action: none;
  touch-action    : none;
  overflow        : hidden;
}
canvas {
  background-color: black;
  -ms-touch-action: none;
  touch-action: none;
}
.dreamTemplate { display: none; }

/* Notifications */
  #notifsContainer {
    position: fixed;
    left    : 0;
    bottom  : 0;
    height  : 10px;
    padding : 5px;
    z-index   : 9999999991;
  }
  .notification {
    position        : relative;
    padding-bottom  : 5px;
    -webkit-transition: all 0.1s linear;
       -moz-transition: all 0.1s linear;
         -o-transition: all 0.1s linear;
            transition: all 0.1s linear;
    /*font-family: 'custom_font';*/
  }
  .notification>div {
    width           : 240px;
    min-height      : 50px;
    border-radius   : 4px;
    border          : 1px solid white;
    background-color: rgba( 50, 50, 50, 0.7 );
    padding         : 5px;
    padding-right   : 20px;
  }
  .notification .notifClose {
    position: absolute;
    right   : 4px;
    top     : 4px;
    cursor  : pointer;
  }

  .notification.disapear {
    opacity: 0;
  }
  
  .ingame-achievement img {
    float       : left;
    height      : 50px;
    width       : 50px;
    margin-right: 3px;
  }


#tools, #elGui, #components, #t_textarea {
  padding         : 10px;
  border-radius   : 10px;
  background-color: rgba( 100, 100, 100, 0.7 );
  overflow        : auto;
  padding-top     : 2px;
  padding-bottom  : 2px;
}

#tools {
  position: fixed;
  left    : 0;
  top     : 0;
  width   : 200px;
  height  : 200px;
}

#elGui {
  display : none;
  position: fixed;
  left    : 0;
  top     : 250px;
  width   : 170px;
  height  : 240px;
}

#components {
  position      : fixed;
  top           : 0;
  right         : 10px;
  width         : 200px;
  height        : 100%;
  overflow-x    : hidden;
}

#t_textarea {
  position   : fixed;
  left       : 50%;
  top        : 100px;
  height     : 250px;
  width      : 700px;
  margin-left: -350px;
}